/* app css stylesheet */
div.input-block {
    display:block;
    clear:left;
    float:left;
    margin-bottom:10px;
}

div.input-field {
    float:left;
}

div.treatment-buttons {
    float:left;
    margin:10px 0px;
}

input.treatment-fields {
    margin:0px 5px 5px 0px;
}

button.submit-button {
    float:left;
    clear:left;
}

p.input-desc {
    width:120px;
    float:left;
    text-align:left;
}

#field {
    margin-bottom:20px;
}
