<!doctype html>
<html lang="en" ng-app="abTestApp">
<head>
  <meta charset="utf-8">
  <title>My HTML File</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-controller="ABFieldsCtrl">
  <center><br>
    <div class="container">
      <div class="jumbotron" style="width:90%; height:200px">
	<h1 style="margin-right:100px; font-size:80px">AB Testing</h1>
	<img src="img/ab_testing.png" style="height: 200px; float:right; margin-top:-170px">
      </div>
      <div id="search" style="width:90%">
	<ul ng-repeat="field in fields">
	  <div class="input-block">
	    <p class="input-desc">{{field.key}}</p>
	    <div class="input-field" ng-if="field.type == 'select'">
	      <select ng-model="field.value">
		<option ng-repeat="option in field.options" value="{{option}}">{{option}}</option>
	      </select>
	    </div>
	    <div class="input-field" ng-if="field.type == 'block'">
	      <input style="width:300px; height:100px" type="text" ng-model="field.value">
	    </div>
	    <div class="input-field" ng-if="field.type != 'select' && field.type != 'block'">
	      <input type="{{field.type}}" ng-model="field.value">
	    </div>
	  </div> <!-- end input-block -->
	</ul>
      </div> <!-- end search -->
    </div> <!-- end container -->
  </center>
</body>
</html>
